{% extends 'base.html.twig' %}

{% block body %}
    <div ng-app="app" ng-strict-di>
        <ui-view></ui-view>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts 'bundles/app/assets/*.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
